/*font-family: 'DM Sans', sans-serif;*/
/*A la hora de escribir estilos a cualquier selector, siempre deberiamos tener un orden, el orden deberia ser el siguiente:
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más*/
:root {
    /*Colores*/
    --LinearBG: linear-gradient(45deg, rgba(247, 147, 26, 1), rgba(32, 30, 28, 1));
    --BitcoinOrange: rgba(247, 147, 26, 1);
    --SoftOrange: rgba(255, 233, 212, 1);
    --SecundaryBlue: rgba(26, 154, 247, 1);
    --SoftBlue: rgba(231, 245, 255, 1);
    --WarmBlack: rgba(32, 30, 28, 1);
    --Grey: rgba(186, 186, 186, 1);
    --LightGrey: rgba(181, 176, 172, 1);
    --JustWhite: rgba(255, 255, 255, 1);
    /*Tamaños de letra*/
    --sm: 14px;
    --md: 18px;
    --lg: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

/*SECCION DEL HEADER*/

.header-container {
    /*posicionamiento*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    /*box model*/
    padding: 2.5rem;
    /*estilos visuales*/
    background: var(--LinearBG);
}

.header-container h1 {
    /*tipografía*/
    color: var(--JustWhite);
    font-size: var(--lg);
}

.header-container p {
    /*box model*/
    margin-bottom: -35px;
    /*tipografía*/
    color: var(--SoftOrange);
    font-size: var(--sm);
}

.header--ancord-container {
    /*posicionamiento*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 48px;
    position: relative;
    top: 4.6rem;
    /*box model*/
    padding: 12px 16px 12px 16px;
    /*estilos visuales*/
    background: var(--JustWhite);
    border-radius: 4px;
    box-shadow: 3px 3px rgba(89, 73, 30, 0.16);
}

.header--ancord {
    /*tipografía*/
    color: var(--WarmBlack);
    font-weight: 700;
    font-size: var(--sm);
    /*estilos visuales*/
    cursor: pointer;
}

.header--ancord span {
    margin-left: 10px;
}

/*SECCION DEL MAIN*/

main {
    width: 100%;
    height: auto; /*para que el mismo contenido defina la altura del contenedor*/
    background-color: var(--JustWhite);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container--backgroundImg {
    width: 192px;
    height: 192px;
    margin: 0 auto;
    background-image: url(./assets/assets/img/Bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container--title h2 {
    font-size: var(--lg);
    line-height: 26px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: var(--WarmBlack);
}

.main-exchange-container--title p {
    font-size: var(--sm);
    color: var(--Grey);
}

.main-currency-table {
    width: 0px;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.main-currency-table .currency-table-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    line-height: 2.3rem;
    text-align: left;
    color: var(--BitcoinOrange);
}

.currency-table-container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 200px;
    margin: 0 auto;
    text-align: left;
}

.currency-table-container table {
    width: 100%;
    height: 100%;
}

.currency-table-container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: rgba(181, 176, 172, 1);
    background: var(--JustWhite);
}

.currency-table-container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency-table-container .table__top-right {
    border-radius: 0 15px 0 0;
}

.currency-table-container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table-container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.currency-table-container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: rgba(117, 117, 117, 1);
}

.currency-table-container .down-bitcoin,
.currency-table-container .down-ripple,
.currency-table-container .down-stellar {
    background-image: url(./assets/assets/icons/trending-down.svg);
}

.currency-table-container .up-ethereum {
    background-image: url(./assets/assets/icons/trending-up.svg);
}

.currency-table-container .down-bitcoin,
.currency-table-container .up-ethereum,
.currency-table-container .down-ripple,
.currency-table-container .down-stellar {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.currency-table--date {
    width: max-content;
    height: 35px;
    margin: 0 auto;
    margin-top: 12px;
    background-color: var(--SoftOrange);
    border-radius: 10px;
    padding: 10px;
}

.currency-table--date p {
    font-size: 12px;
    color: var(--WarmBlack);
}

.main-currency-table .commisions-table-container{
    color: var(--SecundaryBlue);
}

.commisions-table--date {
    background-color: var(--SoftBlue);
}

.currency-table-container .arrow-right {
    width: 20px;
    position: relative;
    left: 220px;
    bottom: 110px;
}

.currency-table-container .arrow-left {
    width: 20px;
    position: relative;
    right: 48px;
    bottom: 108px;
    transform: rotate(180deg);
}