/*font-family: 'DM Sans', sans-serif;*/
/*A la hora de escribir estilos a cualquier selector, siempre deberiamos tener un orden, el orden deberia ser el siguiente:
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más*/
:root {
    /*Colores*/
    --LinearBG: linear-gradient(45deg, rgba(247, 147, 26, 1), rgba(32, 30, 28, 1));
    --BitcoinOrange: rgba(247, 147, 26, 1);
    --SoftOrange: rgba(255, 233, 212, 1);
    --SecundaryBlue: rgba(26, 154, 247, 1);
    --SoftBlue: rgba(231, 245, 255, 1);
    --WarmBlack: rgba(32, 30, 28, 1);
    --Grey: rgba(117, 117, 117, 1);
    --LightGrey: rgba(181, 176, 172, 1);
    --JustWhite: rgba(255, 255, 255, 1);
    /*Tamaños de letra*/
    --sm: 14px;
    --md: 18px;
    --lg: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

/*SECCION DEL HEADER*/

.header-container {
    /*posicionamiento*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    /*box model*/
    padding: 2.5rem;
    /*estilos visuales*/
    background: var(--LinearBG);
}

.header-container h1 {
    /*tipografía*/
    color: var(--JustWhite);
    font-size: var(--lg);
}

.header-container p {
    /*box model*/
    margin-bottom: -35px;
    /*tipografía*/
    color: var(--SoftOrange);
    font-size: var(--sm);
}

.header--ancord-container {
    /*posicionamiento*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 48px;
    position: relative;
    top: 4.6rem;
    /*box model*/
    padding: 12px 16px 12px 16px;
    /*estilos visuales*/
    background: var(--JustWhite);
    border-radius: 4px;
    box-shadow: 3px 3px rgba(89, 73, 30, 0.16);
}

.header--ancord {
    /*tipografía*/
    color: var(--WarmBlack);
    font-weight: 700;
    font-size: var(--sm);
    /*estilos visuales*/
    cursor: pointer;
}

.header--ancord span {
    margin-left: 10px;
}

/*SECCION DEL MAIN*/

main {
    width: 100%;
    height: auto; /*para que el mismo contenido defina la altura del contenedor*/
    background-color: var(--JustWhite);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}